
<div class="panel panel-primary">
 <div class="panel-heading">
    <h2 style="color: darkblue;">Goods List </h2> 
 </div>     
 <button style="font-size: 18px; border-radius: 12px; background-color:#1de00b; color:#ffffff;  margin-top: 10px;" routerLink="create-goods" routerLinkActive="active"
 class="nav-link"><b>Add Goods</b></button>
<div class="panel-body">
  <table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let goods of goodses">
            <td>{{goods.id}}</td>
            <td>{{goods.name}}</td>
            <td>{{goods.price}}</td>
            <td>
                <button (click)="goodsDetails(goods.id)" class="btn btn-info" style="margin-left: 10px"><b>View</b></button>
                <button (click) = "updateGoods(goods.id)" class="btn btn-info" style="margin-left: 10px"><b>Update</b></button>
                <button (click) = "deleteGoods(goods.id)" class="btn btn-danger" style="margin-left: 10px" onclick="document.location.href = 'http://localhost:4200/goodses'"><b>Delete</b></button>
            </td>
        </tr>
    </tbody>
  </table>
 </div>
<router-outlet></router-outlet>
</div>
